.gsttable, .gsttable th,.gsttable  td{
    border: 1px solid #dedede;
    border-collapse: collapse;
}

.gstitemtable, .gstitemtable th,.gstitemtable  td{
    border: 1px solid #dedede;
    border-collapse: collapse;
}

.gsttaxtable, .gsttaxtable th, .gsttaxtable td {
    border: 1px solid #dedede !important; /* Ensure border stays even if Tailwind adds border-none */
    border-collapse: collapse;
}

.withoutgsttable ,.withoutgsttable th,.withoutgsttable td{
    border: 1px solid #dedede !important; /* Ensure border stays even if Tailwind adds border-none */
    border-collapse: collapse;
    padding: 5px;
}